<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="sidebar">
<nav class="bg-light border-end vh-100 p-3" style="width: 250px;">
    <h5 class="mb-3">Projects</h5>
    <ul class="nav flex-column">
        <li class="nav-item mb-1">
            <a class="btn btn-outline-primary w-100" th:href="@{/projects/create}">+ New Project</a>
        </li>
        <li class="nav-item" th:each="proj : ${allProjects}">
            <!--/*@thymesVar id="proj" type="org.kupchenko.projectmanagementllm.model.Project"*/-->
            <a class="nav-link" th:href="@{/projects/{id}(id=${proj.id})}"
               th:text="${proj.name}"></a>
            <ul class="nav flex-column ms-3" th:if="${proj.boards}">
                <li class="nav-item" th:each="b : ${proj.boards}">
                    <a class="nav-link small"
                       th:href="@{/projects/{pid}/boards/{bid}(pid=${proj.id},bid=${b.id})}"
                       th:text="${b.name}"></a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
</body>
</html>
